h1 {
    margin-left: 50px;
    font-size: 50px;
}

h2 {
    margin: 20px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
}

h3 {
    margin: 20px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;    
}

h5 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;     
}

.time_heading {
    margin: 16px 25px 16px 0px;
}

#request_pray {
    background-color: #d0f0d5d0;
}

#new_note {
    font-size: 14px;
    font-family: "DM Serif Text", serif;
    margin-bottom: 4px;
    margin-left: 24px;    
}

#time_current {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#time_session {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}